<a href="https://colab.research.google.com/github/aguscura/UBA-data-science/blob/main/tp1_p20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# P20
Buscar la distancia mínima que existe entre dos locales de McDonald ‘s en el estado de LA (que no comparten dirección). 

*   ¿Cuál es la distancia?¿A qué ciudad/es pertenecen? 

*   ¿Cuáles son las direcciones de los locales?

In [279]:
#!gdown "14sjAJe8wBi7N_1xxJFCm7Mtzrm_gFiPj"

In [280]:
import pandas as pd
df = pd.read_csv('/content/business.csv')
df

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,5.0,0.0,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",NaN
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,8.0,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,AZ,85711,32.223236,-110.880452,3.5,11.0,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,37.0,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,13.0,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150341,IUQopTMmYQG-qRtBk-8QnA,Binh's Nails,3388 Gateway Blvd,Edmonton,AB,T6J 5H2,53.468419,-113.492054,3.0,5.0,1,"{'ByAppointmentOnly': 'False', 'RestaurantsPri...","Nail Salons, Beauty & Spas","{'Monday': '10:0-19:30', 'Tuesday': '10:0-19:3..."
150342,c8GjPIOTGVmIemT7j5_SyQ,Wild Birds Unlimited,2813 Bransford Ave,Nashville,TN,37204,36.115118,-86.766925,4.0,4.0,1,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","Pets, Nurseries & Gardening, Pet Stores, Hobby...","{'Monday': '9:30-17:30', 'Tuesday': '9:30-17:3..."
150343,_QAMST-NrQobXduilWEqSw,Claire's Boutique,"6020 E 82nd St, Ste 46",Indianapolis,IN,46250,39.908707,-86.065088,3.5,5.0,1,"{'RestaurantsPriceRange2': '1', 'BusinessAccep...","Shopping, Jewelry, Piercing, Toy Stores, Beaut...",NaN
150344,mtGm22y5c2UHNXDFAjaPNw,Cyclery & Fitness Center,2472 Troy Rd,Edwardsville,IL,62025,38.782351,-89.950558,4.0,12.0,1,"{'BusinessParking': ""{'garage': False, 'street...","Fitness/Exercise Equipment, Eyewear & Optician...","{'Monday': '9:0-20:0', 'Tuesday': '9:0-20:0', ..."
150345,jV_XOycEzSlTx-65W906pg,Sic Ink,238 Apollo Beach Blvd,Apollo beach,FL,33572,27.771002,-82.394910,4.5,8.0,1,"{'WheelchairAccessible': 'True', 'BusinessAcce...","Beauty & Spas, Permanent Makeup, Piercing, Tattoo","{'Tuesday': '12:0-19:0', 'Wednesday': '12:0-19..."

In [281]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150346 entries, 0 to 150345
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   business_id   150346 non-null  object
 1   name          150346 non-null  object
 2   address       145219 non-null  object
 3   city          150346 non-null  object
 4   state         150346 non-null  object
 5   postal_code   150273 non-null  object
 6   latitude      150346 non-null  float64
 7   longitude     150346 non-null  float64
 8   stars         150346 non-null  float64
 9   review_count  150346 non-null  float64
 10  is_open       150346 non-null  int64
 11  attributes    136602 non-null  object
 12  categories    150243 non-null  object
 13  hours         127123 non-null  object
dtypes: float64(4), int64(1), object(9)
memory usage: 16.1+ MB

In [282]:
df["name"].describe()

count        150346
unique       114117
top       Starbucks
freq            724
Name: name, dtype: object

In [283]:
df = df[(df['name'] == "McDonald's")][["name","address","city","state","latitude","longitude"]]

In [284]:
df = df[(df['state'] == 'LA')].sort_values(["address", "city"])
df["address"].value_counts()

501 Westbank Expy              2
10001 I 10 Service Rd          1
3250 General Degaulle Dr       1
3321 Saint Charles Ave         1
3401 Paris Rd                  1
3407 Lapalco Blvd              1
3443 S Carrollton              1
3532 Severn Ave                1
4240 Louisa St                 1
4589 General Meyer Ave         1
5315 Veterans Memorial Blvd    1
6005 Bullard Rd                1
6140 Westbank Expwy            1
6401 Airline Hwy               1
701 Clearview Pkwy             1
709 Terry Pkwy                 1
711 Canal St                   1
7862 Hwy 23                    1
8319 W Judge Perez             1
3313 Cleary Ave                1
3025 Elysian Fields Ave        1
1151 S Clearview Pkwy          1
3013 Loyola Dr                 1
1212 Stumpf Blvd               1
1309 W Esplanade Ave           1
140 Lapalco Blvd               1
1505 Manhattan Blvd            1
1681 Barataria Blvd            1
1901 Tchoupitoulas St          1
1918 N Broad St                1
2126 Airline Hwy               1
2145 Veterans Memorial Blvd    1
2551 Lafitte Larose Hwy        1
2609 Saint Claude Ave          1
2700 Airline Dr                1
2757 Canal St                  1
2856 S Claiborne               1
2916 Jefferson Hwy             1
2951 Hwy 90                    1
301 Veterans Hwy               1
9601 Jefferson Hwy             1
Name: address, dtype: int64

In [285]:
"""
Hay 2 locales que comparten direccion.. pero en distintas ciudades.
No borro duplicados porque voy a tener en cuenta ambos locales para las distancias con el resto de los McDonald's.
Luego si la distancia mínima es entre ellos, no la tengo en cuenta y tomo la siguiente distancia mas corta
"""

"\nHay 2 locales que comparten direccion.. pero en distintas ciudades.\nNo borro duplicados porque voy a tener en cuenta ambos locales para las distancias con el resto de los McDonald's.\nLuego si la distancia mínima es entre ellos, no la tengo en cuenta y tomo la siguiente distancia mas corta\n"

In [286]:
df

,name,address,city,state,latitude,longitude
108794,McDonald's,10001 I 10 Service Rd,New Orleans,LA,30.038396,-89.975671
45761,McDonald's,1151 S Clearview Pkwy,Jefferson,LA,29.961776,-90.183633
130671,McDonald's,1212 Stumpf Blvd,Gretna,LA,29.914610,-90.046379
89658,McDonald's,1309 W Esplanade Ave,Kenner,LA,30.020080,-90.250600
133919,McDonald's,140 Lapalco Blvd,Gretna,LA,29.881903,-90.023103
118501,McDonald's,1505 Manhattan Blvd,Harvey,LA,29.894595,-90.059725
115313,McDonald's,1681 Barataria Blvd,Marrero,LA,29.879620,-90.098122
53251,McDonald's,1901 Tchoupitoulas St,New Orleans,LA,29.925115,-90.070156
128745,McDonald's,1918 N Broad St,New Orleans,LA,29.983655,-90.070845
59760,McDonald's,2126 Airline Hwy,Kenner,LA,29.980177,-90.243775
87582,McDonald's,2145 Veterans Memorial Blvd,Kenner,LA,30.006003,-90.238745
38940,McDonald's,2551 Lafitte Larose Hwy,Marrero,LA,29.853946,-90.104067
129798,McDonald's,2609 Saint Claude Ave,New Orleans,LA,29.969473,-90.049637
62719,McDonald's,2700 Airline Dr,Metairie,LA,29.973762,-90.151390
104882,McDonald's,2757 Canal St,New Orleans,LA,29.966816,-90.088205
142142,McDonald's,2856 S Claiborne,New Orleans,LA,29.941588,-90.095297
136538,McDonald's,2916 Jefferson Hwy,Jefferson,LA,29.962533,-90.156338
10078,McDonald's,2951 Hwy 90,Avondale,LA,29.909168,-90.204384
25554,McDonald's,301 Veterans Hwy,Metairie,LA,30.001218,-90.126002
111073,McDonald's,3013 Loyola Dr,Kenner,LA,30.009285,-90.267005
66993,McDonald's,3025 Elysian Fields Ave,New Orleans,LA,29.989536,-90.057859
111536,McDonald's,3250 General Degaulle Dr,New Orleans,LA,29.926163,-90.022580
125444,McDonald's,3313 Cleary Ave,Metairie,LA,30.005207,-90.172080
146454,McDonald's,3321 Saint Charles Ave,New Orleans,LA,29.928787,-90.091069
130446,McDonald's,3401 Paris Rd,Chalmette,LA,29.950407,-89.959153
135892,McDonald's,3407 Lapalco Blvd,Harvey,LA,29.869479,-90.076845
21693,McDonald's,3443 S Carrollton,New Orleans,LA,29.963289,-90.111832
32767,McDonald's,3532 Severn Ave,Metairie,LA,30.013509,-90.159555
5923,McDonald's,4240 Louisa St,New Orleans,LA,30.004244,-90.036407
47617,McDonald's,4589 General Meyer Ave,New Orleans,LA,29.933581,-90.007743
54783,McDonald's,501 Westbank Expy,Gretna,LA,29.910136,-90.057234
31849,McDonald's,501 Westbank Expy,Westwego,LA,29.899983,-90.146592
19709,McDonald's,5315 Veterans Memorial Blvd,Metairie,LA,30.006814,-90.200752
53847,McDonald's,6005 Bullard Rd,New Orleans,LA,30.043715,-89.958349
143547,McDonald's,6140 Westbank Expwy,Marrero,LA,29.894542,-90.113478
68586,McDonald's,6401 Airline Hwy,Metairie,LA,29.977770,-90.203049
48589,McDonald's,701 Clearview Pkwy,Metairie,LA,29.980942,-90.179017
53123,McDonald's,709 Terry Pkwy,Gretna,LA,29.899888,-90.029883
145369,McDonald's,711 Canal St,New Orleans,LA,29.953576,-90.069183
52035,McDonald's,7862 Hwy 23,Belle Chasse,LA,29.862522,-89.996876
71783,McDonald's,8319 W Judge Perez,Chalmette,LA,29.953599,-89.978079
45869,McDonald's,9601 Jefferson Hwy,River Ridge,LA,29.956305,-90.217029

Distancia a partir de coordenadas:
https://www.movable-type.co.uk/scripts/latlong.html

In [287]:
import matplotlib.pyplot as plt
import numpy as np
from math import sin, cos, sqrt, atan2, radians

def distance(point1, point2):

    #constante - R is earth’s radius (mean radius = 6,371km)
    R = 6373.0 

    lat1 = radians(point1['latitude'])
    lon1 = radians(point1['longitude'])
    lat2 = radians(point2['latitude'])
    lon2 = radians(point2['longitude'])

    dlon = lon2 - lon1
    dlat = lat2 - lat1

    a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))

    distance = R * c

    return distance

In [288]:
df = df.reset_index()
df

,index,name,address,city,state,latitude,longitude
0,108794,McDonald's,10001 I 10 Service Rd,New Orleans,LA,30.038396,-89.975671
1,45761,McDonald's,1151 S Clearview Pkwy,Jefferson,LA,29.961776,-90.183633
2,130671,McDonald's,1212 Stumpf Blvd,Gretna,LA,29.914610,-90.046379
3,89658,McDonald's,1309 W Esplanade Ave,Kenner,LA,30.020080,-90.250600
4,133919,McDonald's,140 Lapalco Blvd,Gretna,LA,29.881903,-90.023103
5,118501,McDonald's,1505 Manhattan Blvd,Harvey,LA,29.894595,-90.059725
6,115313,McDonald's,1681 Barataria Blvd,Marrero,LA,29.879620,-90.098122
7,53251,McDonald's,1901 Tchoupitoulas St,New Orleans,LA,29.925115,-90.070156
8,128745,McDonald's,1918 N Broad St,New Orleans,LA,29.983655,-90.070845
9,59760,McDonald's,2126 Airline Hwy,Kenner,LA,29.980177,-90.243775
10,87582,McDonald's,2145 Veterans Memorial Blvd,Kenner,LA,30.006003,-90.238745
11,38940,McDonald's,2551 Lafitte Larose Hwy,Marrero,LA,29.853946,-90.104067
12,129798,McDonald's,2609 Saint Claude Ave,New Orleans,LA,29.969473,-90.049637
13,62719,McDonald's,2700 Airline Dr,Metairie,LA,29.973762,-90.151390
14,104882,McDonald's,2757 Canal St,New Orleans,LA,29.966816,-90.088205
15,142142,McDonald's,2856 S Claiborne,New Orleans,LA,29.941588,-90.095297
16,136538,McDonald's,2916 Jefferson Hwy,Jefferson,LA,29.962533,-90.156338
17,10078,McDonald's,2951 Hwy 90,Avondale,LA,29.909168,-90.204384
18,25554,McDonald's,301 Veterans Hwy,Metairie,LA,30.001218,-90.126002
19,111073,McDonald's,3013 Loyola Dr,Kenner,LA,30.009285,-90.267005
20,66993,McDonald's,3025 Elysian Fields Ave,New Orleans,LA,29.989536,-90.057859
21,111536,McDonald's,3250 General Degaulle Dr,New Orleans,LA,29.926163,-90.022580
22,125444,McDonald's,3313 Cleary Ave,Metairie,LA,30.005207,-90.172080
23,146454,McDonald's,3321 Saint Charles Ave,New Orleans,LA,29.928787,-90.091069
24,130446,McDonald's,3401 Paris Rd,Chalmette,LA,29.950407,-89.959153
25,135892,McDonald's,3407 Lapalco Blvd,Harvey,LA,29.869479,-90.076845
26,21693,McDonald's,3443 S Carrollton,New Orleans,LA,29.963289,-90.111832
27,32767,McDonald's,3532 Severn Ave,Metairie,LA,30.013509,-90.159555
28,5923,McDonald's,4240 Louisa St,New Orleans,LA,30.004244,-90.036407
29,47617,McDonald's,4589 General Meyer Ave,New Orleans,LA,29.933581,-90.007743
30,54783,McDonald's,501 Westbank Expy,Gretna,LA,29.910136,-90.057234
31,31849,McDonald's,501 Westbank Expy,Westwego,LA,29.899983,-90.146592
32,19709,McDonald's,5315 Veterans Memorial Blvd,Metairie,LA,30.006814,-90.200752
33,53847,McDonald's,6005 Bullard Rd,New Orleans,LA,30.043715,-89.958349
34,143547,McDonald's,6140 Westbank Expwy,Marrero,LA,29.894542,-90.113478
35,68586,McDonald's,6401 Airline Hwy,Metairie,LA,29.977770,-90.203049
36,48589,McDonald's,701 Clearview Pkwy,Metairie,LA,29.980942,-90.179017
37,53123,McDonald's,709 Terry Pkwy,Gretna,LA,29.899888,-90.029883
38,145369,McDonald's,711 Canal St,New Orleans,LA,29.953576,-90.069183
39,52035,McDonald's,7862 Hwy 23,Belle Chasse,LA,29.862522,-89.996876
40,71783,McDonald's,8319 W Judge Perez,Chalmette,LA,29.953599,-89.978079
41,45869,McDonald's,9601 Jefferson Hwy,River Ridge,LA,29.956305,-90.217029

In [289]:
shape = (len(df),len(df))
dist_matrix = np.zeros(shape)
min = 999999999999

for i in df.index:
  for j in df.index:
    d = distance(df.loc[i], df.loc[j])
    dist_matrix[i][j] = d
    if d == 0:
      continue
    elif (d < min):
      min = d
      min_idx = i
      min_idx_2 = j

distances_df = pd. DataFrame(dist_matrix, columns=df["index"], index=df["index"])
distances_df

index,108794,45761,130671,89658,133919,118501,115313,53251,128745,59760,...,19709,53847,143547,68586,48589,53123,145369,52035,71783,45869
index,,,,,,,,,,,,,,,,,,,,,
108794,0.000000,21.770065,15.361994,26.553801,17.996804,17.928783,21.240193,15.544583,11.004781,26.623026,...,21.959413,1.769736,20.793324,22.915674,20.602224,16.267714,13.044432,19.668910,9.434808,24.978846
45761,21.770065,0.000000,14.231897,9.147581,17.844556,14.089345,12.307080,11.672703,11.136853,6.145832,...,5.274127,23.536820,10.082715,2.581656,2.177719,16.341350,11.067116,21.120897,19.829927,3.275268
130671,15.361994,14.231897,0.000000,22.910198,4.274628,2.571438,6.327882,2.572874,8.033659,20.374767,...,18.068953,16.678019,6.843966,16.654125,14.759840,2.282752,4.859724,7.507156,7.883565,17.090298
89658,26.553801,9.147581,22.910198,0.000000,26.775595,23.090642,21.448583,20.343817,17.782874,4.486889,...,5.022776,28.265400,19.225001,6.567330,8.154685,25.122322,18.978810,30.086340,27.276361,7.796296
133919,17.996804,17.844556,4.274628,26.775595,0.000000,3.803379,7.239610,6.609528,12.217656,23.915877,...,22.050104,19.049331,8.828136,20.361511,18.634165,2.104646,9.126399,3.323601,9.079497,20.445433
118501,17.928783,14.089345,2.571438,23.090642,3.803379,0.000000,4.060321,3.540623,9.963953,20.132977,...,18.453611,19.249367,5.183455,16.626641,14.981870,2.937158,6.623549,7.033378,10.248058,16.645277
115313,21.240193,12.307080,6.327882,21.448583,7.239610,4.060321,0.000000,5.734044,11.866743,17.950845,...,17.262865,22.684073,2.224402,14.882560,13.704725,6.956071,8.686374,9.948971,14.200374,14.288637
53251,15.544583,11.672703,2.572874,20.343817,6.609528,3.540623,5.734044,0.000000,6.511699,17.817981,...,15.522445,17.031090,5.386168,14.083155,12.191260,4.790563,3.167101,9.920050,9.423560,14.575285
128745,11.004781,11.136853,8.033659,17.782874,12.217656,9.963953,11.866743,6.511699,0.000000,16.665548,...,12.776690,12.728933,10.730031,12.754232,10.426277,10.119253,3.349477,15.244184,9.543430,14.410654
59760,26.623026,6.145832,20.374767,4.486889,23.915877,20.132977,17.950845,17.817981,16.665548,0.000000,...,5.094719,28.385052,15.762599,3.933026,6.239776,22.467302,17.081889,27.162515,25.772569,3.700386
87582,25.590596,7.238278,21.141972,1.937951,24.950298,21.242292,19.527337,18.570498,16.364241,2.913204,...,3.660666,27.327038,17.304759,4.656953,6.393522,23.334072,17.346441,28.253334,25.782049,5.910656
38940,23.959444,14.237420,8.745409,23.258688,8.405851,6.223611,2.912667,8.564961,14.778672,19.456388,...,19.390166,25.353081,4.605788,16.755773,15.866472,8.792321,11.580998,10.384156,16.444910,15.756068
129798,10.465822,12.940418,6.110484,20.161149,10.070651,8.385285,11.033285,5.315505,2.581391,18.743491,...,15.139215,12.062777,10.360256,14.810533,12.531133,7.970663,2.583482,12.938033,7.118162,16.196894
62719,18.389146,3.380930,12.071766,10.857234,16.041493,12.474469,11.662667,9.517006,7.838062,8.929867,...,6.010798,20.155984,9.539320,4.997318,2.779089,14.306899,8.233771,19.364801,16.850696,6.616436
104882,13.449702,9.212763,7.069111,16.728460,11.339885,8.489345,9.745796,4.953878,2.511201,15.063177,...,11.720072,15.153070,8.400018,11.132578,8.889957,9.328616,2.351408,14.563812,10.713834,12.469032
142142,15.772190,8.804558,5.589388,17.323804,9.618807,6.251652,6.898071,3.038119,5.238900,14.938139,...,12.485199,17.409557,5.518644,11.136351,9.178727,7.828236,2.848239,12.938481,11.376037,11.845844
136538,19.340981,2.631669,11.863647,11.110111,15.665580,11.993409,10.795864,9.290816,8.566094,8.650597,...,6.524462,21.100966,8.617611,4.809405,2.994624,14.040580,8.457889,18.976673,17.207278,5.889508
10078,26.310682,6.183985,15.245768,13.116072,17.741862,14.042303,10.760962,13.061653,15.306656,8.763471,...,10.866867,28.034416,8.915043,7.631745,8.349375,16.857012,13.937267,20.673381,22.367312,5.382861
25554,15.057125,7.076631,12.315859,12.183030,16.567890,13.470558,13.789727,10.030765,5.661341,11.584785,...,7.227087,16.823679,11.926798,7.867450,5.583156,14.589246,7.619188,19.822330,15.204728,10.093380
111073,28.243069,9.614675,23.725703,1.984491,27.447283,23.702403,21.747661,21.152994,19.110258,3.935832,...,6.387433,29.969925,19.540070,7.088607,9.043442,25.889646,20.041359,30.731958,28.517626,7.609984
66993,9.601929,12.505733,8.407165,18.873729,12.431938,10.561877,12.827181,7.262895,1.411739,17.941822,...,13.898312,11.321207,11.848285,14.049184,11.711707,10.329653,4.146004,15.302107,8.664433,15.775803
111536,13.276572,16.020175,2.629722,24.327737,4.923260,5.015514,8.936281,4.587834,7.907512,22.147771,...,19.371157,14.465743,9.443379,18.315387,16.261028,3.006145,5.429060,7.500175,5.264094,19.039464
125444,19.272350,4.957410,15.756937,7.741590,19.856418,16.389829,15.682637,13.259927,10.042638,7.446756,...,2.767541,21.024100,13.543031,4.267797,2.780525,18.028609,11.457126,23.175320,19.553146,6.952825
146454,16.499903,9.646561,4.587813,18.422553,8.375007,4.857677,5.510969,2.056949,6.406589,15.787698,...,13.675774,18.080616,4.379130,12.089196,10.270873,6.717901,3.471665,11.697295,11.234783,12.520345
130446,9.915470,21.670243,9.303195,29.128527,9.801636,11.512681,15.540401,11.063092,11.380229,27.625803,...,24.108470,10.378904,16.122995,23.698731,21.456902,8.835576,10.609968,10.430236,1.858241,24.860985
135892,21.167969,14.539241,5.816449,23.686758,5.364439,3.245081,2.341741,6.221922,12.712925,20.262412,...,19.390389,22.494442,4.500410,17.120309,15.834158,5.652663,9.383234,7.752379,13.350039,16.611316
21693,15.550610,6.921131,8.313752,14.785698,12.454511,9.143990,9.399834,5.844984,4.552869,12.851425,...,9.840111,17.280042,7.648294,8.935693,6.764848,10.589197,4.249631,15.762694,12.934523,10.167207
32767,17.923554,6.204264,15.490344,8.799141,19.678311,16.355726,16.026266,13.071899,9.167922,8.920002,...,4.037288,19.665280,13.957824,5.775574,4.078878,17.773002,10.965755,22.976483,18.710924,8.434823
5923,6.974574,14.950326,10.016174,20.705327,13.668228,12.401589,15.084279,9.383104,4.031194,20.155453,...,15.832706,8.705509,14.285122,16.321536,13.980737,11.624466,6.460223,16.217725,7.957088,18.200999
47617,12.061029,17.239707,4.280792,25.300187,5.935864,6.627320,10.581257,6.089629,8.246155,23.329307,...,20.303371,13.141959,11.080356,19.452952,17.325827,4.312904,6.325595,7.973092,3.623819,20.328958
54783,16.287760,13.469714,1.158889,22.287748,4.549048,1.745223,5.202580,2.080383,8.282058,19.594362,...,17.519203,17.650412,5.693796,15.940766,14.134946,2.872944,4.967251,7.869593,9.032711,16.236535
31849,22.544890,7.745300,9.798332,16.700471,12.077135,8.397806,5.194031,7.881780,11.828726,12.934734,...,12.978624,24.178245,3.249925,10.221211,9.531909,11.253626,9.550844,15.028274,17.304570,9.238427
19709,21.959413,5.274127,18.068953,5.022776,22.050104,18.453611,17.262865,15.522445,12.776690,5.094719,...,0.000000,23.702295,15.056420,3.238138,3.558904,20.313007,13.991228,25.372927,22.255449,5.832957
53847,1.769736,23.536820,16.678019,28.265400,19.049331,19.249367,22.684073,17.031090,12.728933,28.385052,...,23.702295,0.000000,22.332727,24.683873,22.371390,17.419550,14.646259,20.493281,10.202213,26.747726
143547,20.793324,10.082715,6.843966,19.225001,8.828136,5.183455,2.224402,5.386168,10.730031,15.762599,...,15.056420,22.332727,0.000000,12.658600,11.500529,8.082750,7.832652,11.796305,14.612418,12.117769
68586,22.915674,2.581656,16.654125,6.567330,20.361511,16.626641,14.882560,14.083155,12.754232,3.933026,...,3.238138,24.683873,12.658600,0.000000,2.342100,18.805069,13.177181,23.651408,21.844422,2.741439
48589,20.602224,2.177719,14.759840,8.154685,18.634165,14.981870,13.704725,12.191260,10.426277,6.239776,...,3.558904,22.371390,11.500529,2.342100,0.000000,16.967680,11.012602,21.950361,19.599728,4.574416
53123,16.267714,16.341350,2.282752,25.122322,2.104646,2.937158,6.956071,4.790563,10.119253,22.467302,...,20.313007,17.419550,8.082750,18.805069,16.967680,0.000000,7.071999,5.235283,7.786548,19.100595
145369,13.044432,11.067116,4.859724,18.978810,9.126399,6.623549,8.686374,3.167101,3.349477,17.081889,...,13.991228,14.646259,7.832652,13.177181,11.012602,7.071999,0.000000,12.295478,8.779955,14.251372
52035,19.668910,21.120897,7.507156,30.086340,3.323601,7.033378,9.948971,9.920050,15.244184,27.162515,...,25.372927,20.493281,11.796305,23.651408,21.950361,5.235283,12.295478,0.000000,10.291333,23.650918
71783,9.434808,19.829927,7.883565,27.276361,9.079497,10.248058,14.200374,9.423560,9.543430,25.772569,...,22.255449,10.202213,14.612418,21.844422,19.599728,7.786548,8.779955,10.291333,0.000000,23.029936
45869,24.978846,3.275268,17.090298,7.796296,20.445433,16.645277,14.288637,14.575285,14.410654,3.700386,...,5.832957,26.747726,12.117769,2.741439,4.574416,19.100595,14.251372,23.650918,23.029936,0.000000

In [290]:
print("Distancia minima: ", min)

Distancia minima:  1.1588890967327927

In [291]:
primer_local = df["index"][min_idx]
df[(df['index'] == primer_local)]

    index        name           address    city state  latitude  longitude
2  130671  McDonald's  1212 Stumpf Blvd  Gretna    LA  29.91461 -90.046379

In [292]:
segundo_local = df["index"][min_idx_2]
df[(df['index'] == segundo_local)]

    index        name            address    city state   latitude  longitude
30  54783  McDonald's  501 Westbank Expy  Gretna    LA  29.910136 -90.057234

In [293]:
# Respuesta
"""
La distancia minima es 1.1588890967327927 KM
Pertenecen a la ciudad de Gretna
Las direcciones de los locales son:
  1212 Stumpf Blvd
  501 Westbank Expy
"""

'\nLa distancia minima es 1.1588890967327927 KM\nPertenecen a la ciudad de Gretna\nLas direcciones de los locales son:\n  1212 Stumpf Blvd\n  501 Westbank Expy\n'

Corroboro en (URL: https://www.calculator.net/distance-calculator.html)
![Screenshot from 2022-09-25 00-52-20.png]()