<a href="https://colab.research.google.com/github/aguscura/UBA-data-science/blob/main/tp1_n8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# N8
Queremos crear nuestro propio clasificador de reviews según sean positivas o negativas usando los datos de yelp, para hacer esto vamos a hacer una cosa muy sencilla: 
asignarle a cada palabra de las 500 más comunes sin contar stopwords el promedio de las stars para las reviews en las que aparece, luego, cuando aparezca un nuevo texto para las 
palabras que conozcamos del mismo promediamos sus scores. Por ejemplo, si tenemos las palabras “buena” con polaridad 3.4 y “rica” con polaridad 4.3 y tenemos el texto “buena y rica” 
su predicción será 3.85. Puede usar una muestra para entrenar. ¿Cuál es la salida del predictor para “I loved this place, the food was amazing!”?

In [1]:
# !gdown "1okxCrPipVJmexBSVZ34kJlttw02-7kTX"
# !pip install vaderSentiment

In [2]:
import pandas as pd
df = pd.read_csv('/content/review.csv')
df = df.head(20) #De nuevo problema de memoria

In [3]:
df = df[["review_id", "stars", "text"]]
df

,review_id,stars,text
0,KU_O5udG6zpxOg-VcAEodg,3.0,"If you decide to eat here, just be aware it is..."
1,Sx8TMOWLNuJBWer-0pcmoA,4.0,Cute interior and owner (?) gave us tour of up...
2,lUUhg8ltDsUZ9h0xnwY4Dg,4.0,I was really between 3 and 4 stars for this on...
3,-P5E9BYUaK7s3PwBF5oAyg,5.0,First time there and it was excellent!!! It fe...
4,YbMyvlDA2W3Py5lTz8VK-A,5.0,"Great burgers,fries and salad! Burgers have a..."
5,40thYphUgIfvJq17QCfTwA,5.0,Great staff always helps and always nice. Alwa...
6,xdQe2E8jR6pLA07p1aYtKA,5.0,Took my vehicle here for some work a few years...
7,pHwbdway4yeI-dSSmZA7-Q,4.0,We checked in around 2:30 pm. Check-in was qu...
8,JBWZmBy69VMggxj3eYn17Q,5.0,My boyfriend and I tried this deli for the fir...
9,E9AB7V4z8xrt2uPF7T55FQ,5.0,Amazing biscuits and (fill in the blank). Grea...
10,RB8UpF_kT2xoOC51OzXEeA,2.0,"Straight to the point, it's cheap, it tastes a..."
11,A4n4YaE-owOVgTQcrVqHUw,4.0,The cafe was extremely cute. We came at 8am an...
12,yCbzm_d4cHpfUX00Ljvgmg,2.0,"We started with the artichoke dip, big mistake..."
13,2u5Skti5mZam_-XTKPelvA,5.0,"Farmhouse, rustic, chic.Helpful staff with gre..."
14,4KpIldEM-tdnrJLqYzRfZQ,5.0,I've only had the cannolis here but they are a...
15,5GGfWhVGmubQLmbVbye8vw,5.0,Awesome little shop. The owner really knows h...
16,5obXxR0b94b5q6j1zYCAzw,1.0,We visited once and were very disappointed in ...
17,JzBhoRVecH9pO0BBiJNQqw,3.0,I visited this restaurant 4 times during my 5 ...
18,meGaFP7yxQdjyABrYDVeoQ,1.0,Skip this train wreck if you are looking for d...
19,gmVABJ9ctuispKPC7S1AeQ,5.0,I'm so incredibly happy with our pictures! Ang...

**StopWords**

No uso Stemmer ni Lemmatizer porque no considero necesario segun consigna. 
De hecho, creo que la idea es ver las 500 palabras más frecuentes sin estos normalizadores.

In [4]:
from nltk.corpus import stopwords
from nltk import word_tokenize
import nltk
# nltk.download('punkt')
# nltk.download('wordnet')
# nltk.download('stopwords')

In [5]:
stopwordsEN = set(stopwords.words('english'))
# stopwordsEN

In [6]:
#Defino funcion para luego aplicarla en la columna

def removeStopWords(texto):
  textoSinStopwords = ""
  for palabra in word_tokenize(texto):
    if palabra not in stopwordsEN:
        textoSinStopwords = textoSinStopwords + " " + palabra
        
  return textoSinStopwords

In [7]:
#Saco StopWords
df["text"] = df["text"].apply(removeStopWords)
df

,review_id,stars,text
0,KU_O5udG6zpxOg-VcAEodg,3.0,"If decide eat , aware going take 2 hours begi..."
1,Sx8TMOWLNuJBWer-0pcmoA,4.0,Cute interior owner ( ? ) gave us tour upcomi...
2,lUUhg8ltDsUZ9h0xnwY4Dg,4.0,I really 3 4 stars one . I LOVE 96th street N...
3,-P5E9BYUaK7s3PwBF5oAyg,5.0,First time excellent ! ! ! It feels like ente...
4,YbMyvlDA2W3Py5lTz8VK-A,5.0,"Great burgers , fries salad ! Burgers hint sa..."
5,40thYphUgIfvJq17QCfTwA,5.0,Great staff always helps always nice . Always...
6,xdQe2E8jR6pLA07p1aYtKA,5.0,Took vehicle work years ago manufacturer reca...
7,pHwbdway4yeI-dSSmZA7-Q,4.0,We checked around 2:30 pm . Check-in quick ea...
8,JBWZmBy69VMggxj3eYn17Q,5.0,My boyfriend I tried deli first time today . ...
9,E9AB7V4z8xrt2uPF7T55FQ,5.0,Amazing biscuits ( fill blank ) . Great cockt...
10,RB8UpF_kT2xoOC51OzXEeA,2.0,"Straight point , 's cheap , tastes feels chea..."
11,A4n4YaE-owOVgTQcrVqHUw,4.0,The cafe extremely cute . We came 8am even ja...
12,yCbzm_d4cHpfUX00Ljvgmg,2.0,"We started artichoke dip , big mistake . It c..."
13,2u5Skti5mZam_-XTKPelvA,5.0,"Farmhouse , rustic , chic.Helpful staff great..."
14,4KpIldEM-tdnrJLqYzRfZQ,5.0,I 've cannolis awesome ! They 're freshly fil...
15,5GGfWhVGmubQLmbVbye8vw,5.0,Awesome little shop . The owner really knows ...
16,5obXxR0b94b5q6j1zYCAzw,1.0,We visited disappointed veggie pizza husband ...
17,JzBhoRVecH9pO0BBiJNQqw,3.0,I visited restaurant 4 times 5 days stay . Cr...
18,meGaFP7yxQdjyABrYDVeoQ,1.0,Skip train wreck looking dinner . Our server ...
19,gmVABJ9ctuispKPC7S1AeQ,5.0,I 'm incredibly happy pictures ! Angela Clift...

In [8]:
import random
random.choice(df["text"])

" My boyfriend I tried deli first time today . I turkey , avocado & bacon panini ha buffalo chicken wrap . We definitely returning . The wait food n't long , always appreciated lunch hour . There SO much choose . They salads , soup , macaroni , sandwiches hot food . I love deli many options choose !"

In [9]:
textos = df["text"].tolist()

In [10]:
#Solo me interesa ver si aparece o no. No la frecuencia. 
from sklearn.feature_extraction.text import CountVectorizer

vector = CountVectorizer(lowercase=True, max_features=500)
matrizVectores = vector.fit_transform(textos)
palabras = vector.get_feature_names_out()
print(palabras.size)
# print(palabras)

500

In [11]:
X = matrizVectores.toarray()
X.shape

(20, 500)

In [12]:
df_nlp = pd.DataFrame(X, columns=palabras)
df_nlp

,10,11,12th,1970,30,50,8am,96th,actually,added,...,worst,worth,would,wrap,wreck,writing,year,years,you,young
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,3,0,0,...,0,1,2,0,0,0,0,0,3,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
7,0,0,1,0,2,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,0,0,0,1,0,0,0,0,1,0,...,2,0,0,0,0,0,0,0,0,0
11,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,1,1,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
19,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
stars = 0
news = 0
stars_4_word = []

#Agarro una palabra y la analizo por todas las noticias
for i in range (0,500):
  for j in df_nlp.index:
    if (df_nlp[palabras[i]][j] > 0):
      stars = stars + df["stars"][j]
      news = news + 1
  #termino la palabra en cuestion y hago el promedio
  stars_4_word.append(stars/news)
  stars = 0
  news = 0

In [19]:
df_word_stars = pd.DataFrame(stars_4_word, index=palabras, columns=["stars"])
df_word_stars

         stars
10         3.0
11         3.0
12th       4.0
1970       2.0
30         3.5
...        ...
writing    4.0
year       3.0
years      5.0
you        4.0
young      3.0

[500 rows x 1 columns]

In [24]:
def predictor(texto):

  score = 0
  count = 0

  for palabra in word_tokenize(texto):
    if palabra in palabras:
        stars = df_word_stars.loc[palabra]
        score = score + stars
        count = count + 1
    #luego de buscar todas las palabras de la frase

  return (score/count)

In [27]:
predictor("10 or 11 years and young")

stars    3.5
dtype: float64