<a href="https://colab.research.google.com/github/aguscura/UBA-data-science/blob/main/tp1_p3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# P3
Para el promedio de stars por cada ciudad, ¿cuáles son los 5 promedios más comunes?

In [9]:
# !pip install -U -q PyDrive

from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
# Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [13]:
import pandas as pd
id= "14sjAJe8wBi7N_1xxJFCm7Mtzrm_gFiPj"
downloaded = drive.CreateFile({'id':id}) 
downloaded.GetContentFile('Filename.csv')  
df = pd.read_csv('Filename.csv')
df

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150346 entries, 0 to 150345
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   business_id   150346 non-null  object
 1   name          150346 non-null  object
 2   address       145219 non-null  object
 3   city          150346 non-null  object
 4   state         150346 non-null  object
 5   postal_code   150273 non-null  object
 6   latitude      150346 non-null  float64
 7   longitude     150346 non-null  float64
 8   stars         150346 non-null  float64
 9   review_count  150346 non-null  float64
 10  is_open       150346 non-null  int64
 11  attributes    136602 non-null  object
 12  categories    150243 non-null  object
 13  hours         127123 non-null  object
dtypes: float64(4), int64(1), object(9)
memory usage: 16.1+ MB

In [24]:
df["stars"].describe()

count    150346.000000
mean          3.596724
std           0.974421
min           1.000000
25%           3.000000
50%           3.500000
75%           4.500000
max           5.000000
Name: stars, dtype: float64

In [16]:
df = df[["city","stars"]]
df

                 city  stars
0       Santa Barbara    5.0
1              Affton    3.0
2              Tucson    3.5
3        Philadelphia    4.0
4          Green Lane    4.5
...               ...    ...
150341       Edmonton    3.0
150342      Nashville    4.0
150343   Indianapolis    3.5
150344   Edwardsville    4.0
150345   Apollo beach    4.5

[150346 rows x 2 columns]

In [23]:
df["stars"].unique()

array([5. , 3. , 3.5, 4. , 4.5, 2. , 2.5, 1.5, 1. ])

In [34]:
df = df.groupby(["city"])[["stars"]].mean().reset_index().sort_values("stars", ascending=False)
df["stars"].value_counts()

3.500000    145
4.000000    140
4.500000    135
5.000000     81
3.000000     81
           ...
3.628788      1
3.629630      1
3.630435      1
3.631902      1
3.537037      1
Name: stars, Length: 494, dtype: int64

In [ ]:
#Respuesta:
#Los 5 promedios más comunes son:
"""
3.500000    145
4.000000    140
4.500000    135
5.000000     81
3.000000     81
"""